<div [class.loader]="loading"></div>

<button class="mt-20 mb-20" mat-raised-button routerLink="/dashboard">Back</button>

<mat-divider></mat-divider>

<form [formGroup]="projectForm" (ngSubmit)="create(projectForm.value)" class="mt-40">

    <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select matNativeControl formControlName="status" required>
            <mat-option value="Open">Open</mat-option>
            <mat-option value="Pending">Pending</mat-option>
            <mat-option value="Closed">Closed</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="mat-form-field-full">
        <mat-label>Details</mat-label>
        <textarea matInput formControlName="details" required></textarea>
    </mat-form-field>

    <button mat-raised-button type="submit" [disabled]="!projectForm.valid">Create</button>
</form>