/* Login */

.login-wrapper {
    max-width: 400px;
    padding: 20px;
    margin: 5% auto;
}

.login-info {
    margin-bottom: 20px;
}

.login-error {
    text-align: center;
    color: #E91E63;
}

.login {
    padding: 15px;
}

.mat-form-field {
    width: 100%;
}